<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>
        <ion-item>
            <ion-label> Produto: Biscoito | Quantidade: 30 </ion-label>
        </ion-item>
        <ion-item>
            <ion-label> Produto: Refrigerante | Quantidade: 200</ion-label>
        </ion-item>
        <ion-item>
            <ion-label> Produto: Chiclete | Quantidade: 30</ion-label>
        </ion-item>
    </ion-list>

    <div id="container">
        <ion-button color="secondary">Contato</ion-button>
    </div>
</ion-content>